<div class="ui-g ui-g-nopad ui-fluid">
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <p-panel styleClass="CustomMethodsPanel">
      <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Queries</span>
          <p-button type="button" icon="pi pi-plus" style="float: right;"
                    (onClick)="openRuleInfo(0)" pTooltip="Add new Rule"></p-button>
        </div>
      </p-header>
      <p-table #tableRules [value]="validation.rules" selectionMode="single" [(contextMenuSelection)]="selection"
               [contextMenu]="cm" (onRowSelect)="onIVRuleSelected()"
               contextMenuSelectionMode="joint" [globalFilterFields]="['name']"
               [(selection)]="selection" scrollHeight="200px">
        <ng-template pTemplate="caption">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-inputgroup">
                <input pInputText placeholder="Search Rule"
                       (input)="tableRules.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" pDraggable
              (onDragStart)="dragStart(rowData)" (onDragEnd)="dragEnd()">
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData.name">
              {{rowData.name}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g ui-fluid">
        <div class="ui-md-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-6 ">
            <p-panel>
              <p-header>
                <div class="ui-helper-clearfix">
                <span class="ui-panel-title"
                      style="font-size:16px;display:inline-block;margin-top:2px">Expression</span>
                </div>
              </p-header>
              <div *ngIf="visibleCodeEditor" style="height: 130px">
                <app-code-editor [code]="selection.expression" language="java"
                                 (CodeChanged)="selection.expression=$event"></app-code-editor>
              </div>
            </p-panel>
          </div>
          <div class="ui-g-12 ui-md-6 ">

            <p-panel styleClass="MessagesBottomPanels">
              <p-header>
                <div class="ui-helper-clearfix">
                  <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Message</span>
                </div>
              </p-header>
              <div class="ui-inputgroup">
                <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="selection.message.messageId"
                                placeholder="Message ID" [minLength]="1"></p-autoComplete>
                <button pButton type="button" icon="pi pi-refresh" pTooltip="Refresh message parameters"></button>
              </div>
              <div *ngFor="let parameter of selection.message.parameters">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-md-6 ">
                    <div>{{ parameter.label }}</div>
                  </div>
                  <div class="ui-g-12 ui-md-6">
                    <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="parameter.objectField"
                                    placeholder="Object Field" [minLength]="1"></p-autoComplete>
                  </div>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
        <div class="ui-md-12 ui-g-nopad">
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropInitialLoad()">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Initial Load</span>
                </div>
              </p-header>
              <p-table [value]="validation.initialLoad" selectionMode="single"
                       (onRowSelect)="onIRuleSelected()"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cmInitialLoad"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData.name">
                      {{rowData.name}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropSoftError()">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Soft Error</span>
                </div>
              </p-header>
              <p-table [value]="validation.softErrors" selectionMode="single"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cmSofterror"
                       (onRowSelect)="onIRuleSelected()"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData"
                      style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData.name">
                    <td>{{rowData.name}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropHardError()">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Hard Error</span>
                </div>
              </p-header>
              <p-table [value]="validation.hardErrors" selectionMode="single"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cmHardError"
                       contextMenuSelectionMode="joint"
                       (onRowSelect)="onIRuleSelected()"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData.name">
                      {{rowData.name}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropUpdateRule()">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Update Rule</span>
                </div>
              </p-header>
              <p-table [value]="validation.updateRules" selectionMode="single"
                       (onRowSelect)="onIRuleSelected()"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cmUpdateRule"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData.name">
                      {{rowData.name}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropDeleteRule()">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Delete Rule</span>
                </div>
              </p-header>
              <p-table [value]="validation.deleteRules" selectionMode="single"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cmDeleteRule"
                       (onRowSelect)="onIRuleSelected()"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rowData.name">
                      {{rowData.name}}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Group Rule</span>
                  <p-button type="button" icon="pi pi-plus" style="float: right;"
                            (onClick)="openGroupInfo(0)" pTooltip="Add new group"></p-button>
                </div>
              </p-header>
              <div *ngFor="let group of validation.groupRules">
                <div #listTitle class="list-item list-title" pDroppable [class.selected]="group === groupSelection"
                     (onDrop)="dropGroupRule(group)" (contextmenu)="groupSelection=group;showGroupContextMenu($event)"
                     (click)="groupSelection=group"
                     style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="group.name">
                  {{group.name}}
                </div>
                <div #listItem class="list-item" *ngFor="let rule of group.rules"
                     [class.selected]="rule === IRuleSelection"
                     (click)="IRuleSelection=rule;onIRuleSelected()"
                     style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" [pTooltip]="rule.name"
                     (contextmenu)="IRuleSelection=rule;groupSelection=group;onIRuleSelected();showGroupRuleContextMenu($event)">
                  {{rule.name}}
                </div>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-contextMenu #cmInitialLoad [model]="itemsInitialLoad"></p-contextMenu>
<p-contextMenu #cmSofterror [model]="itemsSofterror"></p-contextMenu>
<p-contextMenu #cmHardError [model]="itemsHardError"></p-contextMenu>
<p-contextMenu #cmUpdateRule [model]="itemsUpdateRule"></p-contextMenu>
<p-contextMenu #cmDeleteRule [model]="itemsDeleteRule"></p-contextMenu>
<p-contextMenu #cmGroup [model]="itemsGroup"></p-contextMenu>
<p-contextMenu #cmGroupRule [model]="itemsGroupRule"></p-contextMenu>
