<div class="ui-g ui-fluid">
  <div class="ui-g-6">
    <div class="caption">Name</div>
    <div class="ui-inputgroup">
      <input type="text" pInputText [(ngModel)]="collection.name"/>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="caption">Object Field</div>
    <div class="ui-inputgroup">
      <p-autoComplete appendTo="body" #auto
                      [suggestions]="mFieldSuggestions" (completeMethod)="filterSymbols($event)" field="name"
                      dataKey="name"
                      (onSelect)="onObjectFieldSelected($event)" forceSelection="true" [dropdown]="true"
                      [size]="30" [minLength]="1">
        <ng-template let-symbol pTemplate="item">
          <div class="ui-helper-clearfix">
            <span *ngIf="symbol.type===2"><i class="fa fa-list" style="padding: 4px"></i>{{symbol.name}}</span>
            <span *ngIf="symbol.type===1"><i class="fa fa-cube" style="padding: 4px"></i>{{symbol.name}}</span>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="caption">Entity</div>
    <div class="ui-inputgroup">
      <input type="text" pInputText [disabled]="true" [(ngModel)]="collection.entity"/>
    </div>
  </div>
  <div class="ui-g-12">
    <p-message severity="error" text="Name is required" *ngIf="collection.name===''"></p-message>
    <p-message severity="error" text="Object Field is required" *ngIf="collection.objectField===''"></p-message>
    <p-message severity="error" text="Collection Type is required" *ngIf="collection.dataType===''"></p-message>
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              (click)="saveColumn()"
              [disabled]="(collection.name===''||collection.objectField===''||collection.dataType==='')"></button>
      <p-button style="width: 90px;" label="Cancel" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
