<div class="ui-g ui-fluid">
  <div class="ui-g-6">
    <div class="caption">Name</div>
    <div class="ui-inputgroup">
      <input type="text" pInputText [(ngModel)]="collection.name"/>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="caption">Object Field</div>
    <div class="ui-inputgroup">
      <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="collection.objectField"
                      [suggestions]="mFieldSuggestions" (completeMethod)="filterLists($event)"
                      [size]="30" [minLength]="1"></p-autoComplete>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="caption">Entity</div>
    <div class="ui-inputgroup">
      <input type="text" pInputText [disabled]="true" [(ngModel)]="collection.entity"/>
    </div>
  </div>
  <div class="ui-g-6">
    <div class="caption">DataType</div>
    <app-drop-down [model]="collection.dataType" (OptionChange)="collection.dataType=$event"
                   [options]="CollectionTypes"></app-drop-down>

  </div>
  <div class="ui-g-12">
    <p-message severity="error" text="Name is required" *ngIf="collection.name===''"></p-message>
    <p-message severity="error" text="Object Field is required" *ngIf="collection.objectField===''"></p-message>
    <p-message severity="error" text="Collection Type is required" *ngIf="collection.dataType===''"></p-message>
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              (click)="saveColumn()"
              [disabled]="(collection.name===''||collection.objectField===''||collection.dataType==='')"></button>
      <p-button style="width: 90px;" label="Cancel" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
