<div class="ui-g ui-g-nopad ui-fluid">
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <p-panel styleClass="CustomMethodsPanel">
      <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Queries</span>
          <p-button type="button" icon="pi pi-plus" style="float: right;" pTooltip="Add new query"
                    (onClick)="openQueryInfo($event.option,0)"></p-button>
        </div>
      </p-header>
      <p-table #tableQueries [value]="queries" selectionMode="single" [(contextMenuSelection)]="selection"
               [contextMenu]="cm"
               contextMenuSelectionMode="joint" [globalFilterFields]="['name']"
               [(selection)]="selection" scrollHeight="200px">
        <ng-template pTemplate="caption">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-inputgroup">
                <input pInputText placeholder="Search query"
                       (input)="tableQueries.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
            <td style="white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis" [pTooltip]="rowData.name">{{rowData.name}}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ">
          <div class="ui-inputgroup">
            <input type="text" pInputText [disabled]="true" [(ngModel)]="selection.name"/>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <app-drop-down [model]="selection.queryType" (OptionChange)="selection.queryType=$event"
                         [options]="QueryTypes"></app-drop-down>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
          <div style="height: 170px" *ngIf="visible">
            <app-code-editor [(code)]="selection.sql" language="sql"
                             (CodeChanged)="selection.sql = $event"></app-code-editor>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <p-panel styleClass="QueryBottomPanels">
            <p-header>
              <div class="ui-helper-clearfix">
                    <span class="ui -panel-title"
                          style="font-size:16px;display:inline-block;margin-top:2px">Parameters</span>
                <p-button type="button" icon="pi pi-refresh" style="float: right" pTooltip="Refresh parameters"
                          (onClick)="refreshParameters($event)"></p-button>
              </div>
            </p-header>
            <div *ngFor="let parameter of selection.parameters">
              <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-6 ">
                  <div>{{ parameter.name }}</div>
                </div>
                <div class="ui-g-12 ui-md-6">
                  <app-drop-down (OptionChange)="parameter.dataType=$event" [options]="DataTypes"
                                 [model]="parameter.dataType"></app-drop-down>
                </div>
              </div>
            </div>
          </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-panel styleClass="QueryBottomPanels">
            <p-header>
              <div class="ui-helper-clearfix">
                    <span class="ui -panel-title"
                          style="font-size:16px;display:inline-block;margin-top:2px">Custom Mapping</span>
                <button pButton type="button" icon="pi pi-refresh" style="float: right"
                        pTooltip="Refresh result mapping"></button>
              </div>
            </p-header>
            <div *ngFor="let custommap of selection.customMaps">
              <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-6 ">
                  <div>{{ custommap.column }}</div>
                </div>
                <div class="ui-g-12 ui-md-6">
                  <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="custommap.objectField"
                                  [suggestions]="mFieldSuggestions"
                                  (completeMethod)="filterCountrySingle($event)"
                                  [size]="30"
                                  placeholder="Object Field" [minLength]="1"></p-autoComplete>
                </div>
              </div>
            </div>
          </p-panel>
        </div>
      </div>
    </div>
  </div>
</div>
<p-contextMenu #cm [model]="items"></p-contextMenu>
