<div class="ui-g ui-fluid">
  <div class="ui-g-6">
    <h6 class="first">Name</h6>
    <div class="ui-inputgroup">
      <input type="text" pInputText [(ngModel)]="column.name" [disabled]="true"/>
    </div>
  </div>
  <div class="ui-g-6">
    <h6 class="first">Object Field</h6>
    <div class="ui-inputgroup">
      <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="column.objectField"
                      [suggestions]="mFieldSuggestions" (completeMethod)="filterCountrySingle($event)"
                      [size]="30" [minLength]="1" [disabled]="true"></p-autoComplete>
    </div>
  </div>
  <div class="ui-g-6">
    <h6 class="first">DataType</h6>
    <app-drop-down [model]="column.dataType" [options]="DataTypes" [disabled]="true"></app-drop-down>

  </div>
  <div class="ui-g-12">
    <p-message severity="error" text="Name is required" *ngIf="column.name===''"></p-message>
    <p-message severity="error" text="Object Field is required" *ngIf="column.objectField===''"></p-message>
    <p-message severity="error" text="Data Type is required" *ngIf="!column.dataType"></p-message>
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              [disabled]="(column.name===''||column.objectField===''||!column.dataType)"
              (click)="saveColumn()"></button>
      <p-button style="width: 90px;" label="Cancel" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
