<div class="ui-g-12 ui-g-nopad" style="border: 1px solid rgba(0,0,255,0.40);">
  <p-scrollPanel
    [style]="{height: '410px'}">
    <ng-template #ControlTemplate let-Control let-Margin="Mar">
      <p-panel [header]="Control.ID" [toggleable]="true" [style]="{'margin-bottom':'20px','margin-top':'20px'}"
               *ngIf="hasChildViews(Control)" (dragover)="allowDrop($event,Control)"
               (drop)="dropControl($event,Control)">
        <ng-template ngFor let-Con [ngForOf]="Control.controls">
          <ng-container
            *ngTemplateOutlet="ControlTemplate; context:{ $implicit: Con,Mar:Margin+10}"></ng-container>
        </ng-template>
      </p-panel>
      <div class="cell" *ngIf="!hasChildViews(Control)"
           (click)="singleClick($event,Control)"
           (dblclick)="doubleClick($event,Control)">
        {{Control.ID}}
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="ControlTemplate; context:{ $implicit: form.control,Mar:10}"></ng-container>

  </p-scrollPanel>
</div>


