<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <h6 class="first">Name</h6>
    <div class="ui-inputgroup">
      <input type="text" pInputText [(ngModel)]="group.label"/>
    </div>
  </div>
  <div class="ui-g-12">
    <p-message severity="error" text="Name is required" *ngIf="group.label===''"></p-message>
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              [disabled]="(group.label==='')"
              (click)="saveGroup()"></button>
      <p-button style="width: 90px;" label="Cancel" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
