/* Style buttons */
.control {
  border: none; /* Remove borders */
  padding: 4px 8px; /* Some padding */
  cursor: pointer; /* Mouse pointer on hover */
}

.control i {
  padding: 10px;
}

.button-hover:hover {
  background-color: #c8c8c8 !important;
  color: #333333 !important;
  border-color: #c8c8c8 !important;
}

.ControlsPanel .ui-panel-content {
  height: 430px;
}

.sideBar {

}
