
  <p-panel header="Controls" styleClass="ControlsPanel">
    <div class="ui-g ui-fluid ui-g-nopad">
      <div class="ui-g-6">
        <div pDraggable pButton type="button" label="Label" class="ui-button-secondary button-hover"
             icon="fa fa-language"></div>
      </div>
      <div class="ui-g-6">
        <div pDraggable pButton type="button" label="Caption" class="ui-button-secondary button-hover"
             icon="fa fa-tag"></div>
      </div>
      <div class="ui-g-6">
        <div pDraggable pButton type="button" label="Secondary" class="ui-button-secondary button-hover"
             icon="pi pi-plus"></div>
      </div>
      <div class="ui-g-6">
        <div pDraggable pButton type="button" label="Secondary" class="ui-button-secondary button-hover"
             icon="pi pi-plus"></div>
      </div>
      <div class="ui-g-6">
        <div pDraggable pButton type="button" label="Secondary" class="ui-button-secondary button-hover"
             icon="pi pi-plus"></div>
      </div>
      <div class="ui-g-6">
        <div pDraggable pButton type="button" label="Secondary" class="ui-button-secondary button-hover"
             icon="pi pi-plus"></div>
      </div>
    </div>
  </p-panel>


