<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-5">
      Name
    </div>
    <div class="ui-g-5">
      value
    </div>
    <div class="ui-g-2">
      Is Constant
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad" *ngFor="let Param of navigationParameters">
    <div class="ui-g-5">
      {{Param.name}}
    </div>
    <div class="ui-g-5">
      <input type="text" pInputText [(ngModel)]="Param.value" *ngIf="Param.isConstant"/>
      <app-custom-auto-complete (Change)="filterSymbols($event)" *ngIf="!Param.isConstant"
                                [(text)]="Param.value"
                                [suggestions]="mFieldSuggestions"></app-custom-auto-complete>
    </div>
    <div class="ui-g-2">
      <p-checkbox [(ngModel)]="Param.isConstant" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              (click)="saveNavigationParameter()"></button>
    </div>
  </div>
</div>
