<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" icon="pi pi-ellipsis-v" class="ui-button-success"
            style="margin-right: .25em;"></button>
    <button pButton type="button" icon="pi pi-save" class="ui-button-success" style="margin-right: .25em;"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="pi pi-check-circle" class="ui-button-success"
            style="margin-right: .25em;"></button>
    <button pButton type="button" icon="pi pi-window-minimize button" *ngIf="!view"
            (click)="view=true;this.switchToUI.emit(this.view);" class="ui-button-success"
            style="margin-right: .25em;"></button>
    <button pButton type="button" icon="pi pi-window-maximize button" *ngIf="view"
            (click)="view=false;this.switchToXMl.emit(this.view);" class="ui-button-success"
            style="margin-right: .25em;"></button>
    <button (click)="this.closeWindow.emit()" pButton type="button" icon="pi pi-times" class="ui-button-success"
            style="margin-right: .25em;"></button>
  </div>
  <div style="margin: 0 auto;width: 10%;">{{entity.name}}</div>
</p-toolbar>

