.toolbar {
  background-color: brown;
  height: 30px;
  width: 100%;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: white;
  overflow: hidden;
}

.left {
  float: left;
  width: 100px;
}

.right {
  float: right;
  width: 150px;
}

.center {
  margin: 0 auto;
  width: 100px;
}
