<div class="ui-g ui-g-nopad ui-fluid">
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
    <p-panel styleClass="CustomMethodsPanel">
      <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Queries</span>
          <p-button type="button" icon="pi pi-plus" style="float: right;"
                    (onClick)="openRuleInfo(0)"></p-button>
        </div>
      </p-header>
      <p-table #tableRules [value]="validation.rules" selectionMode="single" [(contextMenuSelection)]="selection"
               [contextMenu]="cm" (onRowSelect)="onIVRuleSelected($event)"
               contextMenuSelectionMode="joint" [globalFilterFields]="['name']"
               [(selection)]="selection" scrollHeight="200px">
        <ng-template pTemplate="caption">
          <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12">
              <div class="ui-inputgroup">
                <input pInputText placeholder="Search Column"
                       (input)="tableRules.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" pDraggable
              (onDragStart)="dragStart($event,rowData)" (onDragEnd)="dragEnd($event)">
            <td>{{rowData.name}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
    <div class="ui-g-12 ui-g-nopad">
      <div class="ui-g ui-fluid">
        <div class="ui-md-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-6 ">
            <p-panel>
              <p-header>
                <div class="ui-helper-clearfix">
                <span class="ui-panel-title"
                      style="font-size:16px;display:inline-block;margin-top:2px">Expression</span>
                </div>
              </p-header>
              <app-expression-editor [(expression)]="selection.expression"></app-expression-editor>
            </p-panel>
          </div>
          <div class="ui-g-12 ui-md-6 ">

            <p-panel styleClass="MessagesBottomPanels">
              <p-header>
                <div class="ui-helper-clearfix">
                  <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Message</span>
                </div>
              </p-header>
              <div class="ui-inputgroup">
                <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="selection.message.messageId"
                                placeholder="Message ID" [minLength]="1"></p-autoComplete>
                <button pButton type="button" icon="pi pi-refresh"></button>
              </div>
              <div *ngFor="let parameter of selection.message.parameters">
                <div class="ui-g ui-fluid">
                  <div class="ui-g-12 ui-md-6 ">
                    <div>{{ parameter.label }}</div>
                  </div>
                  <div class="ui-g-12 ui-md-6">
                    <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="parameter.objectField"
                                    placeholder="Object Field" [minLength]="1"></p-autoComplete>
                  </div>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
        <div class="ui-md-12 ui-g-nopad">
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropInitialLoad($event)">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Initial Load</span>
                </div>
              </p-header>
              <p-table [value]="validation.initialLoad" selectionMode="single"
                       (onRowSelect)="onIRuleSelected($event)"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cm"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td>{{rowData.name}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropSoftError($event)">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Soft Error</span>
                </div>
              </p-header>
              <p-table [value]="validation.softErrors" selectionMode="single"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cm"
                       (onRowSelect)="onIRuleSelected($event)"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td>{{rowData.name}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropHardError($event)">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Hard Error</span>
                </div>
              </p-header>
              <p-table [value]="validation.hardErrors" selectionMode="single"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cm"
                       contextMenuSelectionMode="joint"
                       (onRowSelect)="onIRuleSelected($event)"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td>{{rowData.name}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropUpdateRule($event)">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Update Rule</span>
                </div>
              </p-header>
              <p-table [value]="validation.updateRules" selectionMode="single"
                       (onRowSelect)="onIRuleSelected($event)"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cm"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td>{{rowData.name}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel" pDroppable (onDrop)="dropDeleteRule($event)">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Delete Rule</span>
                </div>
              </p-header>
              <p-table [value]="validation.deleteRules" selectionMode="single"
                       [(contextMenuSelection)]="IRuleSelection"
                       [contextMenu]="cm"
                       (onRowSelect)="onIRuleSelected($event)"
                       contextMenuSelectionMode="joint"
                       [(selection)]="IRuleSelection" scrollHeight="200px">
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData">
                    <td>{{rowData.name}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>
          </div>
          <div class="ui-g-2">
            <p-panel styleClass="InitalLoadPanel">
              <p-header>
                <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Group Rule</span>
                  <p-button type="button" icon="pi pi-plus" style="float: right;"
                            (onClick)="openRuleInfo(0)"></p-button>
                </div>
              </p-header>
              <div *ngFor="let group of validation.groupRules">
                <div class="list-item list-title" pDroppable (onDrop)="dropGroupRule(group)">{{group.name}}</div>
                <div class="list-item" *ngFor="let rule of group.rules">{{rule.name}}</div>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-contextMenu #cm [model]="items"></p-contextMenu>
