<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-g-6">
      <h6 class="first">Name</h6>
      <div class="ui-inputgroup">
        <input type="text" pInputText [(ngModel)]="entity.name"/>
        <button pButton type="button" icon="pi pi-refresh"></button>
      </div>
    </div>
    <div class="ui-g-6">
      <h6 class="first">Parent Entity</h6>
      <div class="ui-inputgroup">
        <input type="text" pInputText [(ngModel)]="entity.parentEntity"/>
        <button pButton type="button" icon="pi pi-refresh"></button>
      </div>
    </div>
  </div>
  <div class="ui-g-12">
    <!--<p-message severity="error" text="Name is required" *ngIf="group.name===''"></p-message>-->
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="Previous"
              [disabled]="(entity.name==='')"
              (click)="saveGroup()"></button>
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="Next"
              [disabled]="(entity.name==='')"
              (click)="saveGroup()"></button>
      <p-button style="width: 90px;" label="Finish" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
