<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <h6 class="first">Name</h6>
      <div class="ui-inputgroup">
        <input type="text" pInputText [(ngModel)]="customMethod.name"/>
      </div>
    </div>
    <div class="ui-g-4">
      <div class="ui-inputgroup">
        <p-checkbox [(ngModel)]="customMethod.loadPrimaryObject" binary="true" label="Load Primary Object"></p-checkbox>
      </div>
    </div>
    <div class="ui-g-4">
      <h6 class="first">Mode</h6>
      <app-drop-down (OptionChange)="customMethod.mode=$event" [options]="loadModes"
                     [model]="customMethod.mode"></app-drop-down>
    </div>

  </div>
  <div class="ui-g-12">
    <p-panel styleClass="LoadMappingPanel">
      <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"
                  style="font-size:16px;display:inline-block;margin-top:2px">Load Mappings</span>
          <button pButton type="button" icon="pi pi-plus" style="float: right; " pTooltip="Add new load mapping"
                  (click)="addLoadMappingRow()"></button>
          <button pButton type="button" icon="pi pi-minus" style="margin-right: 8px ;float: right"
                  pTooltip="Remove load mapping"
                  (click)="removeCustomMapping()"></button>
        </div>
      </p-header>
      <p-table [value]="customMethod.loadMapping" selectionMode="single" [resizableColumns]="true"
               [(selection)]="selection" scrollHeight="200px"
               [scrollable]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Load Type</th>
            <th>Parameters</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData">
            <td>
              <div class="ui-inputgroup">
                <p-autoComplete appendTo="body" autocomplete="disabled" [(ngModel)]="rowData.name"
                                placeholder="Name"></p-autoComplete>
                <button pButton type="button" icon="pi pi-align-justify" (click)="onEditParameters(rowData)"></button>
              </div>
            </td>
            <td>
              <app-drop-down (OptionChange)="rowData.loadType=$event" [options]="loadTypes"
                             [model]="rowData.loadType"></app-drop-down>
            </td>
            <td>
              <table>
                <tr>
                  <button pButton type="button" icon="pi pi-pencil" pTooltip="Edit parameters"
                          (click)="onEditParameters(rowData.loadParameters)"></button>
                </tr>
              </table>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>

  </div>
  <div class="ui-g-12">
    <!--<p-message severity="error" text="Name is required" *ngIf="group.label===''"></p-message>-->
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              (click)="saveGroup()"></button>
      <p-button style="width: 90px;" label="Cancel" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
