<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="caption">Name</div>
    <div class="ui-inputgroup">
      <input type="text" pInputText [(ngModel)]="rule.name"/>
    </div>
  </div>
  <div class="ui-g-12">
    <p-message severity="error" text="Name is required" *ngIf="rule.name===''"></p-message>
  </div>
  <div class="ui-g-12">
    <div style="float: right">
      <button pButton style="width: 90px; margin-right: 16px;" class="margin" label="ok"
              [disabled]="(rule.name==='')"
              (click)="saveRule()"></button>
      <p-button style="width: 90px;" label="Cancel" (click)="this.ref.close();"></p-button>
    </div>
  </div>
</div>
